.body{

    width: 100%;
    height: 100%;
}

.register {
    
    /* width: 30%;
    margin: auto;
    border: 1px ;
    margin-top: 50px;
    padding: 40px; */
    background-color: white;
    width: 30%;
    margin: auto;
    border: 1px solid rgb(188, 171, 171);
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


h2 {
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(29, 29, 167);
    margin-bottom: 30px;
}

.registerButton{
    text-align: center;
    color:white;
}

/* Button:hover {
    background-color: rgb(237, 150, 74);
} */

p {
    text-align: center;
    margin: 15px 0 10px 0;
}
.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}
.email {
    padding: 40px 60px;
    margin-top: 10px;
}
