 .body{
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
    background-image: url("src\assets\images (1).jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* https://miro.medium.com/max/603/1*1LzDyOaDaDrIDu9hksV35Q.jpeg */

    

