 .body{
    background-color: rgb(250, 250, 250);
  
    background-image: url("src\assets\images (1).jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* https://miro.medium.com/max/603/1*1LzDyOaDaDrIDu9hksV35Q.jpeg */

body {
	/* background: linear-gradient(90deg, #f4c5d0, #776BCC);	 */
    background: linear-gradient(90deg, #C7C5F4, #776BCC);	
}


