
<body>
  <div class="container">
   <div class="screen">
     <div class="screen__content"> 
      <br><h2 style="text-align: center; color:rgb(122, 30, 158)" >Admin-Register</h2> <br>
       
       <form  ngNativeValidate  #adminregister="ngForm" (ngSubmit)="adminRegister(adminregister.value)">

        <input ngModel name="fName" type="text" class="login__input"  placeholder="First name" required/>
        <div class="login__field"> <input ngModel name="lName" type="text" class="login__input"  placeholder="Last name" required/></div>
         <input ngModel name="email" type="email" class="login__input"  placeholder="Email"required />
         <div class="login__field"><input ngModel name="password" type="password" class="login__input" placeholder="Password" required minlength="8" /></div>
        <input ngModel name="mNumber" type="text" class="login__input" placeholder=" Mobile Number" required maxlength="10" minlength="10" />
        <input name="atoken" type="password" class="login__input" placeholder="Token" (input)="getToken($event)" ngModel/>
          <div *ngIf="!isToken" style="color:red">{{errorMsg}}</div>
         <button class="button login__submit">
           <span class="button__text" type="submit">Sign-up</span>
           <i class="button__icon fas fa-chevron-right"></i>

         </button>				
       </form>
 
       <div class="social-login"> 
         <div  >
          <br>
          <br>
          <br>
           <a routerLink="/admin-login" routerLinkActive="active" style="color:whitesmoke;text-align: right; ">admin- Login</a>
           
           
           
          
         </div>
       </div> 
     </div>
     <div class="screen__background">
       <span class="screen__background__shape screen__background__shape4"></span>
       <span class="screen__background__shape screen__background__shape3"></span>		
       <span class="screen__background__shape screen__background__shape2"></span>
       <span class="screen__background__shape screen__background__shape1"></span>
     </div>		
    </div> 
 </div>
 </body>
 