<body>
 <div class="container">
	<div class="screen">
		<div class="screen__content">
      
			<form class="login" ngNativeValidate #userlogin="ngForm" (ngSubmit)="userLogin(userlogin.value)">
        <h2 style="text-align: center; color:blueviolet" >User Login</h2> <br>
      
             
        
				<div class="login__field">
         
					<i class="login__icon fas fa-user"></i>
					<input ngModel name="email" type="email" class="login__input" placeholder="User name / Email"id="exampleInputEmail1"  required>
          
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input  ngModel name="password" type="password" class="login__input" placeholder="Password"  id="exampleInputPassword1" required>
       
				</div>
				<button class="button login__submit">
					<span class="button__text" type="submit"> Login</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>

			<div class="social-login">
				<div  >
          <br><br>
          <a routerLink="/admin-login" routerLinkActive="active" style="color:whitesmoke">admin Login</a><br>
          <a routerLink="/register" routerLinkActive="active" style="color:whitesmoke">create account</a>
          
          
					
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
</body>
