
  
  <div class="login">
        <div class="card l-bg-blue-dark" >


         
            <form ngNativeValidate #userlogin="ngForm" (ngSubmit)="userLogin(userlogin.value)">
             
                
                   
           
              
                <div class="email">
                  <h2 style="text-align: center;" >User Login</h2> <br>
                
                  <label for="exampleInputEmail1" class="form-label">Email </label>
                <input ngModel name="email" type="email" class="form-control" placeholder="abc@gmail.com" id="exampleInputEmail1" aria-describedby="emailHelp" required />
                <br/>
        
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input ngModel name="password" type="password" class="form-control" placeholder="password" id="exampleInputPassword1" required/> 
                </div>
                
             
        
              <div class="loginButton">
                <button type="submit" class="btn btn-outline-dark" style="color:aliceblue">Login</button>
              </div>
            </form>
            
            <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
              <p>New to DoConnect? Register here</p>
            </a>
          </div>
        </div>
          
          <li>
            <a routerLink="/admin-login" routerLinkActive="active" ariaCurrentWhenActive="page" style="color:blue">
              <p>If you are our admin, Login here</p>
            </a>
          </li>
        
       
          
      
         
  

