
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Chat</div>

    

      <div class="page__content-data position-absolute text-center">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
    aria-expanded="false" aria-controls="collapseOne" (click)="getMessage()">
    open the chat
</button>
        <div class="container my-2" *ngFor="let message of messages">
            <mat-card class="card">
                <h4>{{ message.fromUser }}</h4>
                <h6>{{ message.message }}</h6>
            </mat-card>
        </div>
        
        <div class="container d-flex flex-row">
            <input type="search" class="form-control" placeholder="Enter message" #search
                 aria-label="Search" aria-describedby="addon-wrapping" />
            <button class="btn me-1 btn-outline-primary" (click)="sendMessage(search.value)">send
            </button>
        </div>
      </div>
    </div>

