.navbar-brand{
    font-weight: bold;
}
.back{
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}
.list{
    display: contents;
   border: 1px solid red;
   background-color: lightgrey;
   padding: 10px;
   width: 50px;

}
