

<div >
  <div class="d-flex page__box p-3 mt-2">Questions</div>
  <!-- <div class="page__content shadow p-3 position-relative"> -->
    <div class="page__content-data position-absolute text-center">
      <nav class="navbar container navbar-light bg-light">
        
        <div class="container-fluid">
          <button (click)="getQuestions('All')" class="btn btn-outline-dark">
            All
          </button>
          <button (click)="getQuestions('Java')" class="btn btn-outline-secondary">
            Java
          </button>
          <button (click)="getQuestions('Python')" class="btn btn-outline-secondary">
            Python
          </button>
          <button (click)="getQuestions('Cloud')" class="btn btn-outline-secondary">
            Cloud
          </button>
          <button (click)="getQuestions('Others')" class="btn btn-outline-secondary">
            Others
          </button>
        </div>
      </nav>

       <mat-drawer-container class="justify-content-center">
        <mat-drawer-content>
        <div *ngFor="let question of questions">
        <mat-card class="questions" style="color:blue">
          <mat-card-title>{{ question.question }}</mat-card-title>
        <mat-card-content>
          <mat-card-actions>
            <div>
              <span class="questionTag"><label>{{ question.topic }}</label></span>
              <button class="btn my-2 btn-outline-primary float-end" id="{{ question.id }}"
                        (click)="sendQuestionToGetAnswer(question.id)">
                        Show answers
              </button>
              <br>
              <br>
              <hr>
            </div>
           
          </mat-card-actions>
        </mat-card-content>
       
        </mat-card>
        
        
            
          </div>
        </mat-drawer-content>
      </mat-drawer-container>



    </div>
  </div>



  
