<mat-nav-list >
    <div class="logo py-4">
        <h1>DOCONNECT</h1>
        <h5>{{user.name}}</h5>
            <mat-divider></mat-divider>
        <a mat-list-item routerLink="/ask-question" routerLinkActive="list-item-active">
            <mat-icon>question</mat-icon>
            post question
        </a>
        <a mat-list-item routerLink="/questions" routerLinkActive="list-item-active">
            <mat-icon>questions</mat-icon>
             questions
        </a>
        <a mat-list-item routerLink="/chat" routerLinkActive="list-item-active">
            <mat-icon>questions</mat-icon>
            chat
        </a>
                

        
        

        
    </div>
</mat-nav-list>

